<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>

<nav>
    <div class="nav--container" *ngIf="this.authService.currentUser; else noUser">
        <a routerLink="">Home</a>
        <a routerLink="/addresses">Address List</a>
        <a routerLink="/logout" (click)="logout()"> Log Out </a>
    </div>
    <ng-template #noUser>
      <div class=nav--container>
        <a routerLink="">Home</a>
        <a routerLink="/auth">SignUp/LogIn</a>
      </div>
    </ng-template>
</nav>

<router-outlet></router-outlet>